body {
    width: 100%;
    height: 100%;
}

/* Navbar*/
.navbars {
    background-image: url("../images/photo-middle.jpg");
    background-size: cover;
    height: 900px;
}

.navbar a {
    padding: 25px;
    margin-left: 100px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

.navbar .right {
    display: flex;
    justify-content: flex-end;
}

.navbar .right a {
    font-family: Arial;
    font-size: 20px;
}

.nav-link-right {
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
}

.navbar-description {
    padding-top: 250px;
    padding-bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    color: #fff;
}

/* Services */
.servis {
    background-color: rgb(167, 154, 139);
    height: 100%;
}

.ikons {
    display: flex;
    flex: 0 0 33%;
    height: 100%;
    text-align: center;
    padding: 0 30px;
}

.ikon-description {
    color: #fff;
    padding: 40px;

}

.servis-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 75px 0;
}

.servis-description h1 {
    font-family: 'Roboto', sans-serif;
}

.servis-description h3 {
    font-family: 'Montserrat', sans-serif;
}

.ikon-shop {
    border-radius: 50px;
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ikon-shop i {
    font-size: 45px;
    color: yellow;
}

.ikon-wrapper {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
}

/* Portfolio */
.portfolio {
    height: 100%;
    background-color: lightgrey;
}

.portfolio-boxes {
    display: flex;
    flex: 0 0 55%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-box {
    background-color: #fff;
    margin-left: 10px;
    margin-bottom: 50px;
}

.portfolio-position {
    display: flex;
    justify-content: center;
}

.portfolio-image img {
    height: 370px;
    width: 330px;
}

.portfolio-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 150px 0 75px;
}

.portfolio-box-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.portfolio-box-description h3 {
    font-family: 'Roboto', sans-serif;
}

.portfolio-box-description h4 {
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/* Stopka*/
.stopka {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    height: 75px;
    flex: 0 0 44%;
}

.items-stopka {
    position: absolute;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.items-stopka .logo {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.items-stopka .items-media ul {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.items p {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.items-media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 40px;
    padding-left: 20px;
}

.items-media a {
    padding-right: 10px;
    color: black;
}